USE [master]
GO
/****** Object:  Database [Receipts]    Script Date: 2020/02/15 0:42:19 ******/
CREATE DATABASE [Receipts]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Receipts', FILENAME = N'E:\Win7アプリ\applications\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Receipts.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Receipts_log', FILENAME = N'E:\Win7アプリ\applications\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Receipts_log.ldf' , SIZE = 3456KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Receipts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Receipts]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 2020/02/15 0:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[measurementUnitsId] [int] NOT NULL,
	[nname] [nvarchar](max) NOT NULL,
	[howPrepareId] [int] NOT NULL,
	[partsOfFood] [nvarchar](max) NULL,
 CONSTRAINT [PK_Food] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HowPrepare]    Script Date: 2020/02/15 0:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HowPrepare](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nname] [nvarchar](max) NOT NULL,
	[isForFood] [bit] NOT NULL,
 CONSTRAINT [PK_HowPrepare] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MeasurementUnits]    Script Date: 2020/02/15 0:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeasurementUnits](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[unit] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MeasurementUnits] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PartsOfFood]    Script Date: 2020/02/15 0:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartsOfFood](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nname] [nvarchar](max) NOT NULL,
	[price] [int] NOT NULL,
	[energyOnGram] [int] NOT NULL,
	[measurementUnitsId] [int] NOT NULL,
	[howPrepareId] [int] NOT NULL,
 CONSTRAINT [PK_PartsOfFood] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
